* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.campotexto
{
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    width: 290px;
}

.button 
{
    background-color: aquamarine;
    border-style: none;
    color: black ;
    border-radius: 6px;
    padding: 2px 5px;
    width: 100px;
}

.container-button{
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

div
{
    margin: auto ;
    width: 290px;
}


